
  @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&family=Ubuntu+Condensed&display=swap');

  body{
    color:#ffffff;
    font-family: 'Open Sans', 'sans-serif','나눔고딕';
    background: linear-gradient( to bottom, black, #787878);
    text-align:center;
    font-size:20px;

    }
    a{
      color:#ffffff;
      text-decoration: none;
    }
    h2{
      font-family: 'Teko', 'sans-serif';
      font-size: 70px;
      color:#ffffff;
      text-shadow: 3px 3px #000000;

    }
    /*  Header */
    header .header_wrap{
      font-family: 'Teko', 'sans-serif';
      display:grid;
      grid-template-columns:300px 1fr;
      height: 70px;
      background-color: black;
      position:fixed;
      left:0;
      right:0;
      top:0;
    }

    header h1{
      font-size:60px;
      text-align: left;
      padding-left:10px;
      margin: 0px;
    }
    header a{
      color: #ffffff;
      text-decoration:none;
    }

    header .header_wrap .nav_index{
      float:right;
      padding-top: 15px;

    }

    header nav .nav_index ul{
      list-style:none;
      display:grid;
      grid-template-columns: 1fr 1.5fr 1fr;
      margin:0px;
    }

    header nav .nav_index li{
      font-family: 'Teko', 'sans-serif';
      list-style:none;
      margin:0px;
    }

    header nav a{
      color: #ffffff;
      font-size:30px;
      text-decoration:none;
    }

  /*  Intro */
  #INT{
    padding-bottom: 100px;
  }
  #INT .intro{
    padding-top: 200px;
    padding-right: 9%;
    font-size:70px;
    text-align:right;
  }
  #INT .intro p{
    font-family: 'Teko', 'sans-serif';
    color: transparent;
    -webkit-text-stroke:0.9px #ffffff;
  }
  /*section*/
  #AM, #PL, #CT{
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /*  About me */

  #AM .aboutme{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 80px;
  }

  #AM .aboutme .profile{
    margin-left: 20%;
    border-right: 2px solid #ffffff;
    padding-right: 10px;
  }

  #AM .aboutme .profile #profile ,#AM .aboutme .introduce #introduce{
    font-family: 'Teko', 'sans-serif';
    font-size:40px;
    color: #c9c9c9;
  }

  #AM .aboutme .profile span {
    font-family: 'Teko', 'sans-serif';
    font-size:30px;
    color: #e3e3e3;
  }

  #AM .aboutme .profile ul{
     list-style: none;
     text-align:left;
  }

  #AM .aboutme .profile li{
     padding-bottom: 20px;
  }

  #AM .aboutme .introduce{
    margin-right: 25%;
    padding-left:30px;
  }

  #AM .aboutme .introduce p{
      text-align:center;
    }

    /*  Programminglanguage */
  #PL .Programminglanguage{
    display: grid;

  }

  #PL .Programminglanguage div{
    display: inline;
  }
  /*Contact*/

  #CT a{

    text-decoration: none;
  }
  #CT .contact{
    display: grid;
    place-items: center;
  }

  #CT .contact .contact_address{
    width: 380px;
    padding-top:50px;
    display: grid;
    place-items: center;
    grid-template-columns: 120px 1fr;
  }


  footer{
  color:#000000;
  padding-top: 500px;
  padding-bottom: 5%;
}

  /* screen width < 900px */
  @media(max-width: 900px){
    header .header_wrap{
      display: block;
      height:auto;
    }

    header h1{
      width:100%;
      text-align:center;
      font-size: 75px;
      padding:0px;
      height: 90px;
    }
    header .header_wrap .nav_index{
      float: none;
      padding-top: 15px;
    }
    header nav .nav_index ul{
      margin:0px;
    }

    #AM .aboutme{
      text-align:center;
      display: block;

    }

    #AM .aboutme .profile{
      margin: auto;
      border-right: none;
      border-bottom: 2px solid #ffffff;
    }

    #AM .aboutme .introduce{
      margin-right: auto;
      padding-top:30px;
    }


}
